@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: Chopisc;
    src: url('../fonts/Chopsic.otf');
}
@font-face {
    font-family: JetBrains;
    src: url('../fonts/JetBrainsMonoNL-Medium.ttf');
}

@keyframes animateOpacity {
    from {opacity: 1;}
    from {opacity: 0;}
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: #282828;
}
  
::-webkit-scrollbar-thumb {
    background-color: #979797;
}

body{
    margin: 0;
    background: #1c1b1b;
    width: 100%;
    height: 100%;
    font-family: Roboto;
}
/* 
SEÇÃO DE CÓDIGO CRIADA POR FELIPE MIGUINS
*/
.dp-menu {
    height: 35px;
    font-family: Roboto;
}
.dp-menu input[type="button"]{
    text-align: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    background-color: rgb(78, 78, 78);
    border: none;
    width: 100%;
    height: 33px;
}

.dp-menu input[type="button"]:hover {
    background-color:  rgb(129, 128, 128);
}
.dp-menu ul{
    font-size: 10pt;
    list-style-type: none;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 42px;
    z-index: 888;
    margin-top: 0;
    background-color: rgb(78, 78, 78);
}

.dp-menu ul li{
    display: inline;
    position: relative;

}

.dp-menu ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    height: 18px;
    display: inline-block;
    background-color: rgb(78, 78, 78);
}

.dp-menu ul li a:hover{
    background-color: rgb(129, 128, 128);
    height: 30px;
}

.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    margin-top: 30px;
}

.dp-menu ul li:hover ul{
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a{
    display: block;
}

/* Menssagens do sistema */
.toast{
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 30px;
    border-radius: 12px;
    background: #232323;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 3px solid #888888;
    border-top: 3px solid #888888;
    border-right: 3px solid #888888;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active{
    transform: translateX(0%);
}

.toast .toast-content{
    display: flex;
    align-items: center;
}

.toast-content .fa-exclamation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #ed7b25;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.message .text{
    font-size: 12px;
    font-weight: 400;;
    color: #ffffff;
}

.message .text.text-1{
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.toast .close{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #7e7d7d;
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #f44040;
}

.progress.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

/*
CODIGO EDITADO POR LEONEL MIGUINS
*/
.CodeMirror {
    width: 100%;
    height: 800px;
    font-size: 10pt;
    font-weight: 500;
    font-family: JetBrains;
    letter-spacing: -0.6px;
    word-spacing: 2px;

}

.conteiner-editor {
    animation: animateOpacity 1300ms;
    display: flex;
    margin-top: -11px;
    
}

.conteiner-editor-preview {
    width: 400px;
    height: 450px;
    overflow: auto;
    border: 2px solid #3a3737;
    margin-left: 10px;
    padding: 10px;

}

#iframe-prev {
    border: none;
    background-color: #ededed;
}
