@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: Chopisc;
    src: url('../fonts/Chopsic.otf');
}

@keyframes animateOpacity {
    from {opacity: 1;}
    from {opacity: 0;}
}


body{
    margin: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-color: #1c1b1b;
    width: 100%;
    font-family: Roboto;
}
/* 
SEÇÃO DE CÓDIGO CRIADA POR FELIPE MIGUINS
*/
.dp-menu {
    height: 35px;
    font-family: Roboto;
}
.dp-menu input[type="button"]{
    text-align: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    background-color: rgb(78, 78, 78);
    border: none;
    width: 100%;
    height: auto;

}

.dp-menu input[type="button"]:hover {
    background-color:  rgb(129, 128, 128);
}
.dp-menu ul{
    font-size: 10pt;
    list-style-type: none;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 42px;
    z-index: 888;
    margin-top: 0;
    background-color: rgb(78, 78, 78);
}

.dp-menu ul li{
    display: inline;
    position: relative;
}

.dp-menu ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    height: 22px;
    display: inline-block;
    transition: .3s;
    background-color: rgb(78, 78, 78);
}

.dp-menu ul li a:hover{
    background-color: rgb(129, 128, 128);
}

.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    margin-top: 30px;
}

.dp-menu ul li:hover ul{
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a{
    display: block;
}
/* 
SEÇÃO DE CÓDIGO CRIADA POR MANUEL CHAVES
*/
main {
    margin-top: 20px;
    text-align: center;
    animation:  animateOpacity;
    animation-duration: 1000ms;
    display: flex;
    justify-content: center;
}                   

.art2{
    width: 100%;
}

.text-slogan{
    color: rgb(191, 191, 191);
    font-size: 11pt;
    margin-left: 20px;
}

.text-logo{ 
    margin-top: 10px;
    margin-left: 15px;
    letter-spacing: 0px;
    font-size: 38pt;
}
  
/* Formatacao da section a direita e os seus conteudos */
section.sec2{
    width: 600px;
    height: 250px;
    color: white;
    margin-left: 10px;
}

.topea{
    width: 100%;
    height: 110px;
    text-align: left;
    padding-top: 20px;
    display: flex;
    color: white;
}

.topea img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.botoes{
    display: flex;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    margin-left: 135px;
} 

.botoes input{
    width: 100px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    background: none;
    border-radius: 5px;
    border: .75px solid white;
    text-align: center;
    color: white;
    text-align: center;
}

.input-arq {
    width: 100px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    background: none;
    border-radius: 5px;
    border: .75px solid white;
    text-align: center;
    color: white;
    text-align: center;
}

.botoes input:hover {
    background-color: #fff;
    color: black;
}

.botoes input:nth-child(1){
    width: 120px;
}

.botoes input:nth-child(2){
    width: 150px;
}

.botoes input:nth-child(3){
    width: 120px;
}

/* Formatacao do modal e os seus conteudos */

#modal{
    display: inline;
} 

.modal-cont :nth-child(2){
    margin-left: 6px;
}
.modal2 img{
    width:30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 60px;
}

/* formacao dos blocos no modal */

.bloco-cont{
    width: 145px;
    height: 95px;
    border: 1px solid rgb(2, 104, 104);
}
.modal-cont2{
    display: flex;
    margin-top: 5px;
}

.modal-cont2 span{
    margin-top: -5px;
    font-size: 0.5em;
}

.modal-cont2 :nth-child(2){
    margin-left: 6px;
}
/* 
SEÇÃO DE CÓDIGO CRIADA POR LEONEL MIGUINS
*/
.modal { /* Estilo do fundo do modal */
    padding-top: 50px;
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 40px;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    animation:  animateOpacity;
    animation-duration: 800ms;
}
  
/* Estilo do conteúdo do modal */
.modal-content {
    position: relative;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    background-color: #232323;
    color: rgb(244, 244, 244);
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 580px;
    height: 300px;
    padding-left: 20px;

}

.modal-content span {
    color: rgb(186, 186, 186);
    margin-top: -30px;
}

.modal-content input[type='text']{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 11pt;
    background-color: #f6f6f6;
    border: none;
    text-align: center;
    margin-left: 5px;
}

.modal-content input[type='button']{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    font-size: 11pt;
    background: none;
    border: 2px solid white;
    color: white;
    margin-left: 5px;
    font-size: 13pt;
}

.modal-content input[type='button']:hover {
    background-color: #fff;
    color: #1c1b1b;
}
  
/* Estilo do botão de fechar */
.close {
    position: absolute;
    color: #aaa;
    right: 5px;
    font-size: 28px;
    font-weight: bold;
    display: inline;
    top: 25px;
}
  
.close:hover,
.close:focus {
    color: rgb(217, 67, 67);
    text-decoration: none;
    cursor: pointer;
}

/* cards dentro do modal */
.cards-conteiner {
    display: flex;
    margin-top: 20px;
}

.card {
    display: grid;
    position: relative;
    font-weight: bolder;
    font-size: 10pt;
    width: 100px;
    height: 140px;
    background-color: rgb(238, 238, 238);
    color: black;
    text-align: center;
    border-radius: 8px;
    margin-right: 10px;
    border: 2px solid rgb(71, 71, 71);
    transition: transform 0.3s ease-in-out;
    
}
.card:hover {
    transform: scale(1.05);
}

.card-img {
    display: flex;
    padding-top: 10px;
}

.card-img img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.card span {
    margin-top: -25px;
    color: black;
}

.galeria {
    animation:  animateOpacity;
    animation-duration: 1300ms;
    justify-content: center;
    display: flex; 
    overflow: none;
  }
  
.galeria figure {
    font-size: 11pt;
    font-style: italic;
    text-align: center;
    align-items: center;
    color: #bcbcbc;
    width: 340px;
    height: 255px; 
    margin-right: 3px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.823);
    background-color: rgba(23, 23, 23, 0.887);
}

.galeria figure:hover {
    transform: scale(1.1);
}

.galeria figcaption {
    margin-top: 2.5px;

}

.galeria img {
    width: 100%;
}
  

